body{
    height:100vh;
    width:100vw;
    background-color: #000;
}


.text-white{
    color:#fff;
}

h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4{
    color:#fff;
    font-family: 'Roboto', sans-serif;
}

h5{
    font-weight: 400;
}

h1{
    font-weight: 900;
}

p {
    font-weight: 300;
}

.controlButtons {
    position: absolute;
    top: 10px;
    right: 0px;
    width: auto;
}

.btn-secondary, .btn-secondary:active{
    background-color: #000;
}

.btn-secondary:hover{
    background-color: #000;
    border-color: #fff;
}

#loginContainer{
    display:none;
}

#dashboard {
    display: none;
    margin-top: 8rem;
}

#addTask{
    font-size: 50px;
    color: white;
}

.modal-content{
    background-color:#292929;
}

tr, td{
    border: 0;
}

.taskCircle {
    color: #fff;
    font-size: 35px;
}

.w-5{
    width:5%;
}
.w-20{
    width:20%;
}

.w-30 {
    width: 30%;
}

.w-10{
    width:10%;
}
.w-40{
    width: 40%;
}

.taskName{
    text-align: left;
}

.taskDate, .timeSelector {
    text-decoration: none!important;
    color: rgb(97, 97, 97);
}

.taskDate:hover, .timeSelector:hover {
    text-decoration: none !important;
    color: #fff;
}

.taskDateActive,
.timeSelectorActive,
.editTask {
    text-decoration: underline !important;
    color: #fff;
}


.text-right{
    text-align: end;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    background-color: #000;
    z-index: -100;
}

.ver{
    position: absolute;
    color: #ffffff61;
    bottom: 0;
    right: 0;
}

.pickColor {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/*the container must be positioned relative:*/
.color-select {
    position: relative;
    font-family: Arial;
}

.color-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #000;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.testing{
    position: absolute;
    top:500;
    height:1000px
}

